.step-cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 3%;

  }
  
  .step-card {
    flex: 0 0 auto;
    width: 315px;
    cursor: pointer;
    margin-right: 16px;
  }
  
  .step-card:hover img {
    opacity: 0.8;
  }
  
  .step-card img {
    border-radius: 8px;
    width: 315px;
    height: 322px;

  }
  
  .step-card .title {
    font-family: LeroyMerlinBold;
    text-transform: uppercase;
    margin-top: 16px;
  }
  
  .step-card .description {
    font-family: LeroyMerlinLight;
    margin-top: 8px;
  }
  .button {
    font-family: LeroyMerlinBold;
    width: 376px;
    height: 60px;
    background-color: #66cc33;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
  }
  .button.disabled {
    background-color: transparent;
    border: solid 1px #9b9b9b;
    color: #9b9b9b;
  }

  button.stepCardButton {
    

    width: 272px;
    height: 67px;
    border-radius: 7px;
    margin-top: 10px;

  }  
  .step-cards-container-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6%;
    margin-left: 12.5%;
  }
  .question{
    text-align: center;
  }


