@font-face {
  font-family: LeroyMerlinBold;
  src: url("./assets/fonts/LeroyMerlinSansBold.eot");
  src: url("./assets/fonts/LeroyMerlinSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/LeroyMerlinSansBold.woff") format("woff"),
    url("./assets/fonts/LeroyMerlinSansBold.ttf") format("truetype"),
    url("./assets/fonts/LeroyMerlinSansBold.svg#3dumbregular") format("svg");
}

@font-face {
  font-family: LeroyMerlinRegular;
  src: url("./assets/fonts/LeroyMerlinSansRegular.eot");
  src: url("./assets/fonts/LeroyMerlinSansRegular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/LeroyMerlinSansRegular.woff") format("woff"),
    url("./assets/fonts/LeroyMerlinSansRegular.ttf") format("truetype"),
    url("./assets/fonts/LeroyMerlinSansRegular.svg#3dumbregular") format("svg");
}

@font-face {
  font-family: LeroyMerlinLight;
  src: url("./assets/fonts/LeroyMerlinSansLight.eot");
  src: url("./assets/fonts/LeroyMerlinSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/LeroyMerlinSansLight.woff") format("woff"),
    url("./assets/fonts/LeroyMerlinSansLight.ttf") format("truetype"),
    url("./assets/fonts/LeroyMerlinSansLight.svg#3dumbregular") format("svg");
}
*{
  outline: none;
}
.App {
  font-family: LeroyMerlinRegular;
  background-color: #f8f8f8;
}
.App-logo {
  height: 32px;
  margin: 4px;
}
.App-header {
  border-bottom: 3px solid #66cc33;
  margin: 3px;
}
.App-container {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

.button.disabled {
  background-color: transparent;
  color: #9b9b9b;
}
.blur {
  filter: blur(2px);
}



/* MEDIA QUERY BREAKPONT EXAMPLE */

/* tablet portrait */
@media (min-width: 600px) {
  .App-logo {
    height: 47px;
    margin: 8px;
  }
}

/* tablet landscape */
@media (min-width: 900px) {
}

/* desktop */
/* desktop */
@media (min-width: 1200px) {
  .App-container {
    display: felx;
  }
  .App-header {
    border-bottom: 4px solid #66cc33;
  }
  .chip-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .chip {
    height: 41px;
    width: 140px;
    background-color: #e9e9e9;
    border-radius: 20.5px;
    font-size: 18px;
    text-align: center;
    color: #9b9b9b;
    margin-right: 20px;
    cursor: pointer;
    line-height: 46px;
  }
  .step-cards-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 8%;
  }
  .step-cards-container.answerList {
    flex-direction: column;
  }
  
  .step-cards-container-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6%;
    margin-left: 8%;
  }
  .step-card {
    flex: 0 0 auto;
    width: 315px;
    cursor: pointer;
    margin-right: 40px;
  }
  .button {

    font-family: LeroyMerlinBold;
    width: 40%;
    height: 50px;
    background-color: #66cc33;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin-left: 30%;
    margin-bottom: 5%;
  }
}
